<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="content">
        <h2>Welcome to the File Manager Application</h2>
        <p>This is a multilingual file manager application that allows you to manage your files with ease.</p>
        <p>Please register or login to access your dashboard and start managing your files.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>
