<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navreg.ejs') %>

    <div class="content">
        <h2>Login</h2>
        <div class="create-form">
            <% if (messages.error) { %>
                <div class="error-message"><%= messages.error %></div>
            <% } %>
            
            <form action="/api/users/login" method="POST">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Login</button>
                <br>
                <br>
                <div class="link">
                    <p> Don't have an account? <a href="/register" class="link-form">Register here</a></p>
                </div>
            </form>
        </div>
    </div>

    

    <%- include('./partials/footer.ejs') %>
</body>
</html>